@model TodoListApp.WebApi.Models.TaskItem
@{
    var todoListId = ViewBag.TodoListId;
}

<h2>Детали задачи</h2>
<div>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.Title</dd>
        <dt class="col-sm-2">Описание</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Дата окончания</dt>
        <dd class="col-sm-10">@Model.DueDate?.ToShortDateString()</dd>
        <dt class="col-sm-2">Статус</dt>
        <dd class="col-sm-10">@(Model.IsCompleted ? "Выполнено" : "В работе")</dd>
    </dl>
    <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-todoListId="@todoListId" class="btn btn-warning">Редактировать</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" asp-route-todoListId="@todoListId" class="btn btn-danger">Удалить</a>
    <a asp-action="Index" asp-route-todoListId="@todoListId" class="btn btn-secondary">К списку задач</a>
</div>